<div class="container">
    <div class="jumbotron text-center">
        <h1>Controle de devices</h1>
        <div ng-if="!$root.gapi.user">
            <p>
                Feito com ♥ por <acme-malarkey extra-values="['tmarques','jheimes']" />
            </p>
            <p>
                Organizado com ♥ por <acme-malarkey extra-values="['joycef']" />
            </p>
            <button class="btn btn-primary btn-lg btn-block" ng-click="main.doLogin()">Entrar</button>
        </div>
        <div ng-if="$root.gapi.user && $root.gapi.user.email.split('@')[1] === 'ciandt.com'">
            <div style="padding: 40px 0px">
                <img src="{{$root.gapi.user.picture}}" class="img-circle" width="100px">
            </div>
            <div class="row thumbnail" ng-repeat="device in main.cloudDevices | orderBy:device.user" style="padding: 30px 0px">
                <div class="col-sm-4 col-md-4">
                    <img class="img-responsive center-block" width="100px" ng-src="/assets/images/{{ device.logo }}" alt="{{ device.name }}" ng-click="main.setUser(device, $index)">
                </div>
                <div class="col-sm-4 col-md-4"> <!-- | filter:{user: $root.gapi.user}">-->
                    <div class="caption">
                        <h3>{{ device.name }}</h3>
                        <p>{{ device.version }}</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div ng-if="device.user">
                        <img src="{{device.user.picture}}" width="100px" class="img-circle">
                        <button class="btn btn-secondary btn-lg" ng-click="main.backDevice($index)" ng-if="$root.gapi.user.email.split('@')[0] === 'joycef' || $root.gapi.user.email.split('@')[0] === 'douglasp'">x</button>
                        <p>{{device.user.email}}</p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
            </div>
        </div>
        <div ng-if="$root.gapi.user && $root.gapi.user.email.split('@')[1] !== 'ciandt.com'">
            <p>Você não está com sua conta da CI&T (:</p>
            <button class="btn btn-primary btn-lg btn-block" ng-click="main.doLogout()">Sair</button>
        </div>
    </div>
</div>